<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-on事件监听器</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-on事件监听器</h1>
    <hr>
    <div id="app">
        本场比赛得分：{{count}}<br>
        <button v-on:click="add">++</button>
        <button v-on:click="reduce">--</button>
        <button @click="reduce">--</button><br>
        <input type="text" v-on:keyup.enter='onEnter' v-model="secondCount"/>
        <input type="text" v-on:keyup.13 ='onEnter' v-model="secondCount"/>
    </div>
    <script type="text/javascript">
        var app =new Vue({
            el:'#app',
            data:{
                count:1,
                secondCount:1
            },
            methods:{
                add:function(){
                    this.count ++;
                },
                reduce(){
                    this.count --;
                },
                onEnter(){
                    //bug
                    // this.count=this.count+parseInt(this.secondCount);
                    this.count=this.count+this.secondCount;
                }
            }
        })
    </script>
</body>
</html>